/* reset */
button,
fieldset
// input
{
  all: unset;
}

.DialogOverlay {
  position: fixed;
  z-index: 30;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-image: url('../../../images/Cheer/selected_cheer_bubble.svg');
  background-size: contain;
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 343px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  .cheer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    max-width: 260px;
    max-height: 343px;

    .comment {
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 15px;
      color: black;
      margin-bottom: 20px;
      word-break: break-all;
    }

    .writer {
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 12px;
      color: black;
      text-align: center;
    }
  }
}
.DialogContent:focus {
  outline: none;
}
