/* .bg {
  position: relative;
  background-color: cornflowerblue;
}

.twinkle_1 {
  position: absolute;
  left: 32px;
  top: 10px;
  background-color: aqua;
}

.twinkle_2 {
  position: absolute;
  left: 320px;
  top: 70px;
  background-color: aqua;
}

.twinkle_3 {
  position: absolute;
  left: 27px;
  top: 415px;
  background-color: aqua;
}

.twinkle_4 {
  position: absolute;
  left: 311px;
  top: 415px;
  background-color: aqua;
} */