.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;

  .twinkle1 {
    position: absolute;
    top: 33px;
    left: 26px;
  }

  .home-title {
    font-family: 'DOSMyungjo';
    font-weight: 900;
    font-size: 54px;
    color: var(--pointColor-pink100);
    text-shadow: 4px 0 var(--text-primary);
  }

  .home-title-description {
    margin-top: 32px;
    font-family: 'NeoDunggeunmo';
    font-weight: 100;
    white-space: pre-line;
    font-size: 20px;
    text-align: center;
    color: var(--text-primary);
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30px;
    width: 100%;

    .twinkle2 {
      position: absolute;
      top: 0px;
      right: 25px;
    }

    .twinkle3 {
      position: absolute;
      top: 100px;
      left: 20px;
    }

    .bubble {
      width: 97px;
      height: auto;
      margin-top: 40px;
      margin-bottom: 15px;
    }

    .title-description {
      position: absolute;
      top: 52px;
      color: var(--text-secondary);
      font-family: 'Gothic A1', sans-serif;
      font-weight: 400;
      font-size: 16px;
    }

    .count-users {
      color: var(--text-teritary);
      font-weight: 400;
      font-size: 15px;
      font-family: 'Pretendard';
      margin-top: 10px;
    }
  }

  .login-bottom-wrapper {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .kakao-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 50px;
      background-color: #fee500;
      border-radius: 12px;
      margin-bottom: 8px;
      .kakao-logo {
        height: 20px;
        margin-right: 8px;
      }

      .kakao-label {
        color: rgba(0, 0, 0, 0.85);
        font-size: medium;
        font-weight: normal;
      }
    }

    .link {
      color: var(--pointColor-blue80);
      text-decoration: none;
    }

    .terms-of-service {
      color: var(--text-teritary);
      font-weight: 400;
      font-size: 12px;
      font-family: 'Pretendard';
    }
  }
}
