.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .twinkle1 {
    position: absolute;
    top: 10px;
    left: 32px;
  }

  .twinkle2 {
    position: absolute;
    top: 60px;
    right: 22px;
  }

  .title-description-bubble {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    position: relative;
    margin-bottom: 17px;

    .bubble {
      margin-right: 30px;
    }

    .title-description {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 30px;
      position: absolute;
      top: 40px;
      color: var(--text-secondary);
      font-family: 'Gothic A1', sans-serif;
      font-weight: 400;
      font-size: 15px;
    }
  }

  .home-title {
    font-family: 'DOSMyungjo';
    font-weight: 900;
    font-size: 54px;
    color: var(--pointColor-pink100);
    text-shadow: 4px 0 var(--text-primary);
  }

  .home-title-description {
    margin-top: 32px;
    font-family: 'NeoDunggeunmo';
    font-weight: 100;
    white-space: pre-line;
    font-size: 20px;
    text-align: center;
    color: var(--text-primary);
  }

  .login-character {
    margin: 20px 0px 30px 0px;
  }

  .login-bottom-wrapper {
    position: fixed;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .count-users {
      color: var(--text-teritary);
      font-weight: 400;
      font-size: 15px;
      font-family: 'Pretendard';
      margin-bottom: 10px;
    }
    .kakao-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 50px;
      background-color: #fee500;
      border-radius: 12px;
      margin-bottom: 8px;
      .kakao-logo {
        height: 20px;
        margin-right: 8px;
      }

      .kakao-label {
        color: rgba(0, 0, 0, 0.85);
        font-size: medium;
        font-weight: normal;
      }
    }

    .link {
      color: var(--pointColor-blue80);
      text-decoration: none;
    }

    .terms-of-service {
      color: var(--text-teritary);
      font-weight: 400;
      font-size: 12px;
      font-family: 'Pretendard';
    }
  }
}
