/* reset */
button {
  all: unset;
}

.ToastViewport {
  --viewport-padding: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  margin: 8px 16px;
  list-style: none;
  outline: none;
  font-family: 'NeoDunggeunmo';
  z-index: 3;
}

.ToastRoot {
  background-color: #3a3d40;
  padding: 16px 24px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  align-items: center;
}

.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ToastTitle {
  grid-area: title;
  font-weight: 500;
  color: white;
  font-size: 16px;
  white-space: pre-line;
  text-align: center;
}

.ToastDescription {
  grid-area: description;
  color: white;
  font-size: 16px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}
