/* reset */
button {
  all: unset;
}

ol {
  all: unset;
}

.ToastViewport {
  --viewport-padding: 8px;
  position: fixed;
  bottom: 23px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 390px;
  padding: var(--viewport-padding);
  display: flex;
  flex-direction: column;
  list-style: none;
  outline: none;
  font-family: 'NeoDunggeunmo';
  z-index: 20;
}

.ToastRoot {
  background-color: #3a3d40;
  padding: 16px 24px;
}

.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ToastTitle {
  grid-area: title;
  font-weight: 500;
  color: white;
  font-size: 16px;
  white-space: pre-line;
  text-align: center;
}
