:root {
  --text-primary: #000000;
  --text-secondary: #252729;
  --text-teritary: #8e9398;
  --text-disabled: #b5b9bd;
  --text-pointed: #ef3125;
  --text-white: #ffffff;

  --pointColor-red100: #ef3125;
  --pointColor-blue100: #1c17eb;
  --pointColor-blue80: #0080ff;
  --pointColor-pink100: #ef22ef;
  --pointColor-pink80: #ff80ff;
  --pointColor-green100: #008000;
  --pointColor-green80: #3cff40;
  --pointColor-yellow: #fff500;

  --button-normal-1: #ffffff;
  --button-disabled: #b5b9bd;
  --button-pointed: #ef22ef;
  --button-pressed: #8e9398;
  --button-disabled-background: #eceef0;
  --button-normal-2: #d3d3d3;
}
