.home-title {
  font-family: 'DOSMyungjo';
  font-weight: 900;
  font-size: 54px;
  color: var(--pointColor-pink100);
  margin-top: 10vh;
  margin-bottom: 32px;
}

.home-description {
  font-family: 'NeoDunggeunmo';
  font-weight: 100;
  white-space: pre-line;
  font-size: 20px;
  color: var(--text-primary);
}

.recommend {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  margin-top: 31vh;
  margin-bottom: 1vh;
  color: var(--text-secondary);
}
