.nickname-wrapper {
  flex-direction: column;
  margin: 0px 24px;

  .nickname-description {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    margin-bottom: 14px;
    color: var(--text-secondary);
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
  }

  .nickname-input-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    .nickname-input-title {
      font-family: 'NeoDunggeunmo';
      padding: 8px 0px;
      font-size: 20px;
      font-weight: 400;
      color: var(--text-secondary);
    }

    .nickname-rule {
      font-family: 'Pretendard';
      font-size: 12px;
      font-weight: 400;
    }

    .nickname-input {
      border: solid 1px;
      height: 48px;
      padding: 0px 15px;
      margin: 10px 0px;
      font-family: 'Pretendard';
      font-size: 16px;
      font-weight: 400;
      color: var(--text-primary);
      caret-color: var(--pointColor-pink100);
    }

    .nickname-input:focus {
      outline: none;
    }

    .nickname-input::placeholder {
      color: var(--text-teritary);
    }

    .rule-positive {
      color: var(--text-teritary);
    }

    .rule-negative {
      color: var(--text-pointed);
    }

    .input-positive {
      border-color: var(--text-disabled);
    }

    .input-negative {
      border-color: var(--pointColor-red100);
    }

    .clear-button {
      position: absolute;
      top: 79px;
      right: 10px;
      width: 12px;
      height: 12px;
      background-image: url('../../images/ic_cancle.svg');
    }

    .hidden {
      visibility: hidden;
    }

    .nickname-warning {
      font-family: 'Pretendard';
      font-size: 15px;
      font-weight: 400;
      color: var(--text-teritary);
    }
  }
}
