/* reset */
button,
fieldset
// input
{
  all: unset;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 30;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  z-index: 40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  font-family: 'NeoDunggeunmo';
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  color: var(--text-primary);
}

.DialogDescription {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  margin: 10px 0px 10px 16px;
  color: var(--text-secondary);
  font-size: 15px;
  white-space: pre-line;
  line-height: 1.5;
}

.wapper-dialog-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dialog-button {
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 500;
  height: 35px;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 12px 16px 12px 16px;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  height: 35px;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}
