.box-button-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 16px;
  right: 0;
  left: 0;
  z-index: 10;

  .box-button {
    width: calc(100% - 32px);
    max-width: calc(390px - 32px);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    font-family: 'NeoDunggeunmo';
    font-size: 16px;
    background-color: var(--button-pointed);

    &:disabled {
      color: var(--button-disabled);
      background-color: var(--button-disabled-background);
    }
  }
}
