.closeButton {
  width: 20px;
  height: 20px;
  background-image: url('../../images/ic_close.svg');
  float: right;
  margin-top: 14px;
}

.title {
  font-family: 'NeoDunggeunmo';
  font-weight: 400;
  font-size: 20px;
  color: var(--text-primary);
  text-align: center;
  padding-top: 15px;
  clear: both;
}

.terms {
  margin-top: 16px;
  margin: 10px;
  white-space: pre-line;
  text-align: justify;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  color: var(--text-secondary);
  line-height: 22.5px;
}
