h4 {
  all: unset;
  font-weight: 700;
  font-size: 16px;
}

.wrapper {
  margin-left: 10px;

  .policy-item {
    margin-bottom: 8px;
  }

  .policy-item-list {
    margin-bottom: 4px;
  }
}

.list-wrapper {
  margin-bottom: 4px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .list-item {
    margin-bottom: 4px;
  }
}

.link {
  color: #8e9398;
  text-decoration: underline;
  cursor: pointer;
}
