.header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 16px;
}

.back-button {
  width: 24px;
  height: 24px;
  background-image: url('../../images/ic_back_line.svg');
  border: none;
  background-color: transparent;
  margin: 10px 0px 10px 16px;
}
