/* reset */
button,
fieldset
// input
{
  all: unset;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  width: 310px;
  height: 560px;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.closeButton {
  width: 20px;
  height: 20px;
  background-image: url('../../../images/ic_close.svg');
  margin-top: 10px;
  margin-left: 280px;
}

.wrapper1 {
  text-align: center;
  padding: 15px 20px 25px 20px;
}

.DialogTitle {
  font-family: 'NeoDunggeunmo';
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: var(--text-primary);
  white-space: pre-line;
}

.DialogDescription {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  color: var(--text-secondary);
  white-space: pre-line;
  line-height: 1.5;
  margin-top: 30px;
}

.producer {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 12px;
  color: var(--text-secondary);
  white-space: pre-line;
  line-height: 1.5;
  margin-top: 30px;
}
