.add-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  margin: 20px 10px 10px 10px;
  width: max-content;
  pointer-events: auto;
  cursor: pointer;
}
