.add-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  width: max-content;
  pointer-events: auto;
  cursor: pointer;

  .add-button-icon {
    position: absolute;
    top: 11px;
  }
}
