#root {
  width: 100%;
  max-width: 390px;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  margin: 0 auto;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
}

.App {
  min-height: calc(var(--vh, 1vh) * 100);
  transform: rotate(0);
}
