html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
