/* reset */
button,
fieldset
// input
{
  all: unset;
}

.DialogOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  width: 310px;
  height: 560px;
  background-color: white;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper1 {
  text-align: center;
  padding: 15px 25px 25px 25px;
}

.DialogTitle {
  font-family: 'NeoDunggeunmo';
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  color: var(--text-primary);
}

.DialogDescription {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  color: var(--text-secondary);
  white-space: pre-line;
  line-height: 1.5;
  margin-top: 30px;
}

.boldText {
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 15px;
  color: var(--text-secondary);
  margin-top: -10px;
}

.closeButton {
  width: 20px;
  height: 20px;
  background-image: url('../../../images/ic_close.svg');
  margin-top: 10px;
  margin-left: 280px;
}

.wrapper2 {
  padding-left: 32px;
}

.wayText {
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 15px;
  color: var(--text-secondary);
  white-space: pre-line;
  line-height: 1.5;
}

.character {
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url('../../../images/black_character.svg');
  margin: 0px auto;
  margin-top: 20px;
}

.title {
  width: 110px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('../../../images/I_got_it_dialog.svg');
  margin: 0px auto;
}
