.delete-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .delete-description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;

    .home-title {
      font-family: 'DOSMyungjo';
      font-weight: 900;
      font-size: 54px;
      color: var(--pointColor-pink100);
      text-shadow: 4px 0 var(--text-primary);
      margin-bottom: 20px;
    }

    .delete-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'NeoDunggeunmo';
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      color: var(--text-teritary);
      line-height: 32px;
    }
  }

  .recommend {
    position: fixed;
    bottom: 84px;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 15px;
    margin-top: 31vh;
    margin-bottom: 1vh;
    color: var(--text-secondary);
  }
}
