.emailForm {
  .emailTitle {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    color: var(--text-secondary);
    white-space: pre-line;
  }
  .inputTitle {
    font-family: 'NeoDunggeunmo';
    font-weight: 400;
    font-size: 20px;
    color: var(--text-secondary);
  }
  .emailFieldset {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 12px 16px 12px 16px;
    .emailInput {
      width: 100%;
      border: solid 1px;
      height: 48px;
      padding: 0px 16px;
      font-size: 16px;
      line-height: 1;
      border-color: var(--text-disabled);
      &:focus {
        outline: none;
        border-color: var(--text-secondary);
        color: var(--text-secondary);
        caret-color: var(--pointColor-pink100);
      }
      &:invalid {
        border-color: var(--text-negative);
      }
    }
  }
}
